@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #00040f;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  position: fixed;
  width: 100%;
  padding: 1rem 9rem;
  /* From https://css.glass */
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(11.8px);
  z-index: 1;
}
nav h2 {
  color: pink;
  font-family: "Nanum Pen Script", sans-serif;
}
nav .navbar-links ul {
  display: flex;
}
nav .navbar-links li a {
  padding: 1rem;
  display: block;
  color: white;
}
nav .navbar-links li a:hover {
  -webkit-text-decoration: underline red 5px;
          text-decoration: underline red 5px;
  transition: 0.5s ease-out;
}
nav .menu {
  position: absolute;
  flex-direction: column;
  top: 1rem;
  right: 1rem;
  display: none;
}
nav .menu .bars {
  padding: 3px 15px;
  margin: 3px;
  background-color: white;
  border-radius: 20px;
}

section {
  height: 100vh;
}

#one {
  background-image: url(../images/bg/bg1.png);
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#one .left {
  padding-left: 9rem;
  font-size: 28px;
  font-weight: bolder;
}
#one .left h1:nth-child(1) {
  color: #00D1FF;
}
#one .left h1:nth-child(2) {
  color: white;
}
#one .left h1:nth-child(3) {
  color: red;
}
#one .left p {
  color: white;
  font-weight: normal;
  font-size: 20px;
  padding: 1rem 0;
  text-align: justify;
}
#one .right {
  padding-top: 5rem;
}
#one .right img {
  height: 700px;
  animation: float 6s ease-in-out infinite;
}

#three {
  color: white;
}
#three h1 {
  padding: 6rem 9rem;
}
#three .grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  animation: fadeIn 2s forwards;
  padding: 0 6rem;
}
#three .grid-container a {
  text-decoration: none;
  color: white;
}
#three .grid-container a h4 {
  border: solid red 3px;
  margin: 1rem 0;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
  background-color: black;
}
#three .grid-container h4:hover {
  background-color: white;
  color: red;
  transition: 0.5s ease;
}
#three .grid-container .live {
  background-color: white;
  color: red;
}
#three .grid-container .live:hover {
  background-color: black;
}
#three .grid-container img {
  height: 60%;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 15px;
}
#three .grid-container .box {
  margin: 1rem;
  padding: 2rem;
}
#three .grid-container .box .info {
  color: white;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}
#three .grid-container .box .info h2 {
  text-align: left;
  margin: 1rem 0;
  font-weight: 400;
}
#three .grid-container .box .info .tools-used {
  display: flex;
}
#three .grid-container .box .info .tools-used .box-tools {
  padding: 0.5rem 2rem;
  border: solid #00D1FF 3px;
  color: white;
  margin: 1rem 0.5rem 1rem 0;
  border-radius: 30px;
}
#three .grid-container .box .box-links {
  display: flex;
  justify-content: flex-start;
}
#three .grid-container .box .box-links a {
  padding: 0 0.5rem;
}

@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
  }
  nav .menu {
    display: flex;
  }
  nav h2 {
    z-index: 1;
  }
  nav .navbar-links {
    width: 100%;
    height: 100vh;
    display: none;
    background-color: white;
    position: absolute;
    top: 3.8rem;
    left: 0;
    transition: all 0.3s ease-in-out;
  }
  nav .navbar-links ul {
    flex-direction: column;
    padding-top: 6rem;
  }
  nav .navbar-links li a {
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  nav .navbar-links li a li:nth-child(1) {
    animation: fadeIn 0.5s forwards 0.3s;
  }
  nav .navbar-links li a li:nth-child(2) {
    animation: fadeIn 0.5s forwards 0.4s;
  }
  nav .navbar-links li a li:nth-child(3) {
    animation: fadeIn 0.5s forwards 0.5s;
  }
  nav .navbar-links li a li:nth-child(4) {
    animation: fadeIn 0.5s forwards 0.6s;
  }
  nav .navbar-links.active {
    display: flex;
  }
  #one {
    flex-direction: column;
    padding-top: 40%;
  }
  #one .left {
    padding-left: 1rem;
    padding-top: 0;
    font-size: 30px;
    font-weight: bold;
  }
  #one .left p {
    font-size: 15px;
    width: 90%;
  }
  #one .right {
    padding-top: 0;
  }
  #one .right img {
    height: 320px;
  }
  #three h1 {
    font-size: 20px;
    padding: 0 1rem;
  }
  #three .grid-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  #three .grid-container .box {
    margin: 5rem 0;
  }
  #three .grid-container .box .info .tools-used .box-tools {
    padding: 0.5rem 0.5rem;
    margin: 1rem 1rem 1rem 0;
  }
  #three .grid-container img {
    height: 50%;
    width: 100%;
  }
}
@keyframes fadeIn {
  from {
    transform: translateX(-10%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-500px);
  }
  100% {
    transform: translateX(70px);
  }
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}/*# sourceMappingURL=main.css.map */